*{
    background-color: rgb(42, 80, 114);
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
    color: #fff;
    position: relative;
    /* border: 1px solid #ffffff; */
    display: flexbox; 
    background: linear-gradient(#427b92 0%,#c48c44 99%);  
}

html{
    background: linear-gradient(#427b92 0%,#c48c44 99%);
    
}

div{
    margin-top: 2vh;
    background: local;
}

body{
    height: auto;  
    /* border: 3px solid #c92121; */
    background: local;
}

header{
    width: 100%;   
    font-size: 100%; 
    display: flex;
    margin-right: 4%;   
    /* border: 4px solid #57b4b4; */
    background: local;
}

section{
    background: local;
}

h1{
    background: local;
}

h2{
    background: local;
}

h3{
    background: local;
}

h4{    
    text-align: center;
    /* border: 2px solid #00ff55;  */ 
    background: local;      
}

h5{
    background: local;
}

#nav2{
    margin-right: 20px;
    background: local;   
}

ul{
    margin-right: 4vh;
    margin-left: 2%;        
    padding-right: 10vh;
    background: local;
}

main{    
    /* border: 1px solid #3a03ff; */    
    margin-bottom: 12vh;     
    background: local;
}

footer{    
    margin-top: 5vh;
    text-align: center;
    /* border: 3px solid #33ff00; */
    background: local;
}

nav{
    background: local;
}



form{
    margin-left: 12px;
    background: local;
}


a{
    text-decoration: none;
    color: #fff;
    background: local;
}

ul{
    display: flex;
    background: local;
}

li{
    display: inline-block;           
    text-align: center; 
    margin-top: 1vh;    
    padding: 5px; 
    border: 3px solid #ff7300;  
    border-radius: 20px;   
    background: local;            
}

label{
    background: local;
}

input{
    background: #ffffff;
    border-radius: 20px;
    margin-top: 20px;    
    color: #000;
    font-weight: 700;
}



#li1{    
    margin-right: 60%;
    background: local;
}



#li3{
    margin-left: 20px;
    margin-right: 4vh;
    background: local;
}

#li4{
    margin-right: 20vh;
}

#data{
    padding: 11vh ;    
    border: none;
}

#btn-reservar{
    margin-left: 2vh;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#Reslog{
    margin-left: 20px;
}


#form2{
    padding: 2vh;    
    margin-top: 20px;
    margin-right: 10px;    
}

#link{
    text-decoration: underline;
}

#text3{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    /* border: 3px solid #c92121; */
}

#btn-crear{
    padding: 2vh;
    border: 3px solid #ffffff;
    border-radius: 20px;
}


#main3{
    
    /* border: 3px solid #3cff00; */
}

#footer3{
    padding-top: 1vh;
}




.sec{    
    
    margin-bottom: 10px;
    margin-top: 1%;    
    border-radius: 20px;    
    /* background-color: #88c0d3; */    
}

.text{
    
    margin-left: 20%;
    margin-right: 20%;
    padding: 1vh;
    margin-top: 32%;
    margin-bottom: 40%; 
    border: 2px solid #ffffff;     
}

.label{
    margin-top: 20%;
    margin-bottom: 20%;
}



#nav12{
    /* border: 5px solid #fd0404; */    
    display: flexbox;
}

#btn-final{
    margin-bottom: 5vh;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #ffffff;    
}

#logo-check{
    width: 220px;
    margin-top: 10%;
    margin-left: 20%;
    background: local;
}

#Reserv{
    text-align: center;    
}

#Resp{
    margin-left: 20%;    
}

#secf{
    margin-bottom: 60%;
    margin-top: 30%;
    display: flex;
    padding-bottom: 100px;
    border-radius: 20px;
    border: 3px solid #ffffff;     
}

.btn-mtd{
    font-size: 20px;
    padding: 3vh;
    margin-top: 60px;
    margin-left: 20px;    
    border: 3px solid #ffffff; 
    border-radius: 20px;
}

.btn-c{
    font-size: 20px;
    padding: 4vh;
    margin-top: 60px;
    margin-left: 5vh;    
    border: 3px solid #ffffff; 
    border-radius: 50px;
}

#divresev{
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.rerv-data{
    border: 2px solid #ffffff; 
    border-radius: 20px;
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    padding: 15px;
    text-align: center;
    background-color: #37383b;
}

.labelb{
    background-color: #37383b;
}

.inputb{
    background-color: #ffffff;    
}

input::placeholder {
    color: rgb(0, 0, 0);
}

#btn-crear{
    padding: 2vh;
    margin-bottom: 2vh;
    background: #ffffff;
}

#btn-pag{
    padding: 2vh;
    margin-bottom: 5vh;
    background: #ffffff;
}

#section2{
    margin-top: 17vh;
}

#div1{    
    border: 3px solid #ffffff; 
}

#img-ub{
    
    display: block;
    margin: 0 auto;
    width: 44vh;
}

#footfinal{
    margin-bottom: 30%;
}















